/* General Styles */
body {
    margin: 0;
    background-color: #F5EFE7;
}

/* Nav Styles */
nav {
    display: flex;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #D8C4B6;
    justify-content: space-between;
}

nav p, nav a {
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: blue;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #C1BAA1;
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #0000ff;
}

/* Splash Section */
.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splash h1 {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #34507f;
}

.splash img {
    border: 5px solid #213555;
    border-radius: 100%;
}

.splash p {
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "YOPQ" 300;
    padding: 10px;
}

/* Horizontal Rules */
hr {
    border: 7px dotted #5a8ccd;
}

/* Sections */
section {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 10px;
}

/* Section Headings */
section h2 {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #23467d;
}

/* Paragraph Styles */
section p {
    text-align: center;
}

/* link styles */
section a {
    text-decoration: none;
    color: #982f2f;
}

section a:hover {
    color: #ec3a3a;
}

/* List Styles */
ul {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

dl {
    display: grid;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
    padding: 10px;
}

dl dt{
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
}

dl dd{
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings: "YOPQ" 300;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card img {
    width: 260px;
    height: 200px;
    padding-top: 10px;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  }

.card h3 {
    text-align: center;
    margin-bottom: 10px;
}

/* Contact Page Styles */
h1 {
    text-align: center;
    color: #34507f;
}

.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
}

form input, form textarea {
    border: 3px solid #bcbdbd;
    transition: border 0.3s ease-in-out;
    width: 50%;
    box-sizing: border-box;
}

form input:focus, form textarea:focus {
    border: 3px solid #848686;
}

form button {
    width: 80px;
    height: 50px;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
    background-color: #4975bc;
    color: #ffffff;
    transition: box-shadow 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

form button:hover {
    background-color: #213555;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: #e9e9e9;
}
