/* General Styles */
body {
    margin: 0;
    background-color: #F5EFE7;
}

/* Nav Styles */
nav {
    display: flex;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #D8C4B6;
    justify-content: space-between;
}

nav p, nav a {
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: blue;
}

/* Footer Styles */
footer {
    display: flex;
    background-color: #f5eee0;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #0000ff;
}

/* Splash Section */
.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splash h1 {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #34507f;
}

.splash img {
    border: 5px solid #213555;
    border-radius: 100%;
}

.splash p {
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "YOPQ" 300;
    padding: 10px;
}

/* Horizontal Rules */
hr {
    border: 7px dotted #5a8ccd;
}

/* Sections */
section {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 10px;
}

/* Section Headings */
section h2 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    color: #23467d;
}

/* Paragraph Styles */
section p {
    padding-left: 40px;
}

/* link styles */
section a {
    text-decoration: none;
    color: #000000;
}

section a:hover {
    color: #0000ff;
}

/* List Styles */
ul {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

dl {}
dl dt{}
dl dd{}

/* Project Section */
.three-col {}

.card {}

.card img {}

.card h3 {}

/* Contact Page Styles */
.one-col {}

form {}

form input, form textarea {}

form input:focus, form textarea:focus {}

form button {}

form button:hover {}
